.grid {
  border: 1px solid;
  display: grid;
  width: 450px;
  grid-template-columns: repeat(15, 30px);
  grid-template-rows: repeat(15, 30px);
}

.grid div {
  width: 30px;
  height: 30px;
}

.invader {
  background-color: purple;
  border-radius: 50%;
}

.shooter {
  background-color: green;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}

.laser {
  background-color: yellow;
}

.boom {
  background-color: red;
}

button {
  width: 100px;
  height: 100px;
  background-size: cover;
  margin: 5px;
}

.controls {

}

#left-btn {
  background-image: url(images/left.png);
  
}

#right-btn {
  background-image: url(images/right.png);
}

#fire-btn {
  background-image: url(images/fire_laser.png);
}

#restart-btn {
  background-image: url(images/refresh.png);
}